/*selector universal*/
*{
    margin: 0;
    padding: 0;
}

/*selector de etiqueta*/
body{
    background-color: rgb(184, 184, 184);
    color: rgb(0, 0, 0);
}

/*selector id*/
#contenedor{
    width: 1000px;
     height: 350px;
     background-color: rgb(185, 185, 185);
     margin: 10px;
     padding: 20px;

}

#encabezado{
    width: 70%;
    background-color: rgb(0, 0, 0);
    margin: 1em;
    border-radius: 5px;
    text-align: center;
}

#menu{
    height: 30px;
    background-color: rgb(255, 255, 255);
    margin: 1em;
    border-radius: 7px;

}
/*selector etiqueta para el menu*/

ul{
    text-align: center;
    padding: 10px;
}

li{
    display: inline;
    padding: 10px  30px;
    margin: 3em;
}

img:hover{
    width: 50%;
}

li a:hover{
    color: rgb(255, 0, 0);
    font-size: 20px;
    text-decoration: none;
    list-style: none;
}

/*selector de clase*/
.img{
    width: 50%;
    border-bottom: 30px;
    justify-items: center;

}

.texto{
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 5px 25px;
    color: black;
}