/*Selector Universal*/
*{
   margin: 0;
   padding: 0;

}
/*Selector de Etiqueta*/

body{
   background-image: url(/img/images.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   color:black;

}
/*Selector Id*/
#contenedor{
   width: 85%;
   height: 100%;
   background-image: url(/img/images.jpg);
   margin: 10px;
   padding: 20px;
}
#encabezado{
   width: 85%;
   background-image: url(/img/images.jpg);
   margin: 1em;
   border-radius: 5px;
   text-align: center;
}
#menu{
   height: 1%;
   background-color: rgb(255, 255, 255);
   margin: 1em;
   border-radius: 5px;
}
/*Selector de etiqueta*/
ul{
   text-align: center;
   padding: 10px;

}
li{
   display: inline;
   padding: 10px 30px;
   margin: 3em;
}
li a:hover{
   color: crimson;
   font-size: 20px;
   text-decoration: none;
   list-style: none;   
}
/*Selector de clase*/
.img{
   width: 30%;
   border-radius: 30px;
   justify-items: center;
}
.title{

   color: rgb(255, 255, 255);
   font-size: 50px;
 }

.texto{
   text-align: center;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 25px;
   padding: 5px 25px;
   color: rgb(255, 255, 255);
}

.derecho{
   text-align: center;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 15px;
   padding: 5px 25px;
   color: rgb(255, 255, 255);
}
 /*card*/

 .card{
   
   box-shadow: 0 4px 6px 0 rgb(255, 255, 255);
   background-color: white;
   overflow: hidden;
   max-width: 300px;
   margin: auto;
   text-align: center;
   border: 2px solid;
   border-radius: 10px;
 }

 .card img{

   background-color: rgb(255, 255, 255);
 }

 button{
   border: none;
   outline: 0;
   display: inline-block;
   padding: 8px;
   color: white;
   background-color: #000;
   text-align: center;
   cursor: pointer;
   width: 100%;
   font-size: 18px;
 }
 .anta-regular {
   font-family: "Anta", sans-serif;
   font-weight: 400;
   font-style: normal;
 } 
 .linea {
   width: 80%;
   height: 1px;
   background-color: aqua;
   margin: 20px auto;
}
html{
   scroll-behavior: smooth;
}
.flex{
   display: flex;
   flex-direction: row;
   width: 80%;
   height: 60%;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-between;
   padding: 5px;
}

*{
   margin: 0 auto;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
   list-style: none;
}
body{
   background-color: #e6edde;
   color:white;
   font-family: Arial, Helvetica, sans-serif;
}
.container{
   max-width: 1110px;
   margin: 0 auto;
}
.fondo{
   padding: 32px 0;
   background-color: #000000;
}
.menu{
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   display: flex;
   align-items: center;
   justify-content: space-around;
   z-index: 1000;
}
.logo{
   font-size: 30px;
   color: aqua;
   font-weight: 800;
   text-transform: uppercase;

}

.menu .navbar ul li{
   position: relative;
   float: left;

}
.menu ul li a{
   
   position: absolute;
   font-size: 18px;
   padding: 2px;
   color: white;
   display:  block;
  
}
.menu .navbar ul li a:hover{
   color: aquamarine;
}
#menu{
   display: none;
}
.menu-icono{
   width: 25px;
}
.menu label{
  cursor: pointer;
  display: none;
}
#menu:checked ~ .navbar{
   display: initial;
}
.fondo{
   padding: 47px 0;
}
@media(max-width:800px){
   .menu{
       padding: 30px;
   }
   .menu label{
       display: initial;
   }
   .menu .navbar{
       position: absolute;
       top: 90%;
       left: 0;
       right: 0;
       background-color: rgb(72, 71, 71);
       display: none;
   }
   .menu .navbar ul li{
       width: 100%;
   }
   #menu:checked ~ .navbar{
       display: initial;
   } 
}
@media(max-width:400px){
   .menu{
       padding: 30px;
   }
   .menu label{
       display: initial;
   }
   .menu .navbar{
       position: absolute;
       top: 90%;
       left: 0;
       right: 0;
       background-color: rgb(72, 71, 71);
       display: none;
   }
   .menu .navbar ul li{
       width: 100%;
   }
   #menu:checked ~ .navbar{
       display: initial;
   } 
}

@media screen and (max-width:1200px) {
   body{
       background-image: url(/img/images.jpg);
       color: rgb(0, 0, 0);
   }
   .title{
       font-size: 45px;
   }

   .texto{
      font-size: 23px;
   }
}
@media screen and (max-width:900px) {
   body{
       background-image: url(/img/images.jpg);
       color: rgb(0, 0, 0);
   }
   .title{
       font-size: 40px;
   }

   .texto{
      font-size: 20px;
   }
   .derecho{
      font-size: 13px;
   }
}
@media screen and (max-width:600px) {
   body{
       background-image: url(/img/images.jpg);
       color: rgb(0, 0, 0);
   }
   .title{
       font-size: 38px;
   }

   .texto{
      font-size: 18px;
   }
   .derecho{
      font-size: 12px;
   }
}
@media screen and (max-width:400px) {
   body{
       background-image: url(/img/images.jpg);
       color: rgb(0, 0, 0);
   }
   .title{
       font-size: 35px;
   }

   .texto{
      font-size: 15px;
   }
   .derecho{
      font-size: 10px;
   }
}