/*selector universal*/
*{
    margin: 0;
    padding: 0;
}

/*selector de etiqueta*/
body{
    background-color: rgb(33, 33, 33);
    color: rgb(46, 46, 46);
}

/*selector id*/
#contenedor{
    width: 1000px;
     height: 4230px;
     background-color: rgb(218, 210, 112);
     margin: 10px;
     padding: 20px;

}

#encabezado{
    width: 70%;
    background-color: rgb(0, 0, 0);
    margin: 1em;
    border-radius: 10px;
    text-align: center;
}

#menu{
    height: 15px;
    background-color: rgb(177, 177, 177);
    margin: 1em;
    border-radius: 5px;

}
/*selector etiqueta para el menu*/

ul{
    text-align: center;
    padding: 10px;
}

li{
    display: inline;
    padding: 10px  30px;
    margin: 3em;
}

img:hover{
    width: 45%;
}

li a:hover{
    color: rgb(255, 0, 0);
    font-size: 20px;
    text-decoration: none;
    list-style: none;
}

/*selector de clase*/
.img{
    width: 20%;
    border-bottom: 30px;
    justify-items: center;

}

.texto{
    text-align: justify;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    padding: 10px 30px;
    color: rgb(0, 0, 0);
}

.pie {
    height: 20px;
    background-color: rgb(255, 255, 255);
    margin: 1.5em;
    text-align: center;
    padding: 5px;
}

.pie h4{
    padding: 15px;
    font-size: 30px;
    background-color: rgb(255, 255, 255);
}

#pie {
    height: 30px;
    background-color: rgb(0, 0, 0);
    margin: 1.5em;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
}

#pie h4{
    padding: 5px;
    font-size: 20px;
    color: rgb(255, 255, 255);
}