/*selector universal*/
*{
    margin: 0;
    padding: 0;
}

/*selector de etiqueta*/
body{
    background-color: rgb(129, 240, 255);
    color: rgb(255, 255, 255);
}

/*selector id*/
#contenedor{
    width: 1000px;
     height: 1800px;
     background-color: rgb(129, 240, 255);
     margin: 10px;
     padding: 20px;

}

#encabezado{
    width: 70%;
    background-color: rgb(66, 166, 206);
    margin: 1em;
    border-radius: 5px;
    text-align: center;
}

#menu{
    height: 40px;
    background-color: rgb(255, 255, 255);
    margin: 1em;
    border-radius: 5px;

}
/*selector etiqueta para el menu*/

ul{
    text-align: center;
    padding: 10px;
}

li{
    display: inline;
    padding: 10px  30px;
    margin: 3em;
}

img:hover{
    width: 80%;
}

li a:hover{
    color: rgb(255, 0, 149);
    font-size: 20px;
    text-decoration: none;
    list-style: none;
}

/*selector de clase*/
.img{
    width: 20%;
    border-bottom: 30px;
    justify-items: center;

}

.texto{
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 5px 25px;
    color: black;
}

.pie {
    height: 20px;
    background-color: black;
    margin: 1.5em;
    text-align: center;
    padding: 5px;
}

.pie h4{
    padding: 15px;
    font-size: 30px;
    background-color: azure;
}

#pie {
    height: 30px;
    background-color: rgb(0, 0, 0);
    margin: 1.5em;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
}

#pie h4{
    padding: 5px;
    font-size: 20px;
    color: rgb(255, 255, 255);
}