*{
    box-sizing:border-box;
}

.contenedorFlex{
    display: flex;
    width: 400px;
    flex-direction:row;
    flex-wrap: wrap;

    background-color: rgb(255, 145, 0);
    padding: 10px;
    border: 2px solid  black;
    
}

.contenedorFlexj{
    display: flex;
    width: 800px;
    flex-direction:row;
    justify-content: center;

    background-color: rgb(129, 123, 123);
    padding: 10px;
    border: 2px solid  black;
    
}
.item{
    background-color: rgb(232, 250, 69);
    width: 100px;
    margin: 10px;
    border: 2px solid;
    text-align: center;
    line-height: 25px;
    font-size: 25px;
}
.contenedorFlexe{
    display: flex;
    width: 800px;
    flex-direction:row;
    justify-content: end;

    background-color: rgb(37, 37, 90);
    padding: 10px;
    border: 2px solid  black;
    
}
.contenedorFlexs{
    display: flex;
    width: 800px;
    flex-direction:row;
    justify-content:start;

    background-color:rgb(147, 228, 161);
    padding: 10px;
    border: 2px solid  black;
    
}
.contenedorFlexes{
    display: flex;
    width: 800px;
    flex-direction:row;
    justify-content:space-around;

    background-color:rgb(149, 221, 255);
    padding: 10px;
    border: 2px solid  black;
    
}
.contenedorFlexesb{
    display: flex;
    width: 800px;
    flex-direction:row;
    justify-content:space-between;

    background-color:rgb(149, 39, 55);
    padding: 10px;
    border: 2px solid  black;
    
}
.contenedorFlexaic{
    display: flex;
    width: 800px;
    height: 400px;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    background-color:rgb(74, 41, 41);
    padding: 10px;
    border: 2px solid  black;
    
}
.contenedorFlexaife{
    display: flex;
    width: 800px;
    height: 600px;
    flex-direction: row;
    align-items:flex-end;
    background-color:rgb(109, 243, 255);
    padding: 10px;
    border: 2px solid  black;
    
}
.contenedorFlexis{
    display: flex;
    width: 800px;
    height: 600px;
    flex-direction: row;
    align-items:stretch;
    background-color:rgb(255, 14, 14);
    padding: 10px;
    border: 2px solid  black;
    
}
.contenedorFlexnuu{
    display: flex;
    width: 800px;
    height: 400px;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    background-color:rgb(234, 224, 224);
    padding: 10px;
    border: 2px solid  black;
    text-align: center;
    justify-content: space-around;

}
.item:hover{
    background-color: aquamarine;
    
}