*{
    padding: 0;
}
.titulo {
    font-size: 40px;
    text-align: center;

}

.subtitulo{
    margin: 10px;
    text-align: center;

}
.img{
    display: block;
    width: 90;
    margin: 0,auto;
    margin-top: 30px;
}
.contener{
    border: 2px solid;
    margin: 10px;
    padding: 10px;
    background-color: burlywood;
}
@media screen and (max-width:1200px) {
    body{
        background-color: black;
        color: blue;
    }
    .titulo{
        font-size: 30px;
    }
    .img{
        width: 80%;
    }
}
@media screen and (max-width:900px) {
    body{
        background-color: aqua;
        color: brown;
    }
    .titulo{
        font-size: 25px;
    }
    .subtitulo{
        font-size: 20px;
    }
    .img{
        width: 70%;
    }
}
@media screen and (max-width:600px) {
    body{
        background-color: rgb(89, 230, 84);
        color: rgb(215, 240, 73);
    }
    .titulo{
        font-size: 20px;
    }
    .subtitulo{
        font-size: 15px;
    }
    .img{
        width: 60%;
    }
}
@media screen and (max-width:400px) {
    body{
        background-color: rgb(255, 62, 142);
        color: rgb(155, 68, 255);
    }
    .titulo{
        font-size: 15px;
    }
    .subtitulo{
        font-size: 10px;
    }
    .img{
        width: 50%;
    }
}